.navbar {border-radius: 0;}
.hero-unit {border-bottom: solid 3px #1abc9c; padding-bottom: 40px;}
.demo-tiles p {margin: 10px 0 15px 0;}
.demo-tiles p.price {font-weight: bold;font-size: 18px;}
.hero-unit .container p a.btn, .demo-tiles .tile a.btn, .site .article p button.btn {border-bottom: 3px solid #16A085;}
.site .post p button.btn-inverse {border-bottom: 3px solid #2C3E50;}
.btn {font-size: 20px;}
.navbar-inverse .nav > li > a {border-left:none!important;}
.footer {
background-color:#34495e;
border-top: 3px solid #2C3E50;
color: #fff;
padding: 35px 0 30px 0;
margin-top: 60px;
}
.footer p {font-size: 14px!important;}
.site .container .article .price {font-size: 25px;}

.site .container .article img {display: inline;
float: left;
margin-right: 17px;
border: 2px solid #ECF0F1;}

.container .demo-tiles .col-md-3 {margin-bottom: 20px;}

.container #left {float: left;}

#disqus_thread {padding-top: 15px;}