<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ site.baseurl}}/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="{{ site.baseurl}}/css/flat-ui.css">
	<link rel="stylesheet" href="{{ site.baseurl}}/css/styles.css">
</head>
<body>

	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<a class="brand" href="#"></a>
			<ul class="nav">
				<li><a href="{{ site.baseurl}}/">{{ site.name }}</a></li>
				<li><a href="#">Log in</a></li>
				<li class="active"><a href="{{ site.baseurl}}/about.html">About</a></li>
			</ul>
		</div>
	</div>
		
	<div class="site">
		  
		{{ content }}

		<div class="footer">
			<div class="container">
				<p>
					Just learning &amp; testing | <a href="mailto:hola@estheramor.es" title="Write me">hola@estheramor.es</a>
				</p>
			</div>
		</div>
	</div>
			  
		
</body>
</html>
